<!DOCTYPE html>
<html lang='en'>
<head>
  <title>MY PARKING APP</title>
  <meta charset='UTF-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>

  <link href="https://fonts.googleapis.com/css?family=Eczar:400,800|Poppins:400,700,900" rel="stylesheet">
  <link rel='stylesheet' type='text/css' href='/reset.css'>
  <link rel='stylesheet' type='text/css' href='/style.css'>

  <!-- MapBox Link -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.css' rel='stylesheet' />

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

</head>
<body>


  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Courtesy Parking</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/parking">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/parking-map">Map <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://syedshah94.github.io/">Shameless Plug</a>
        </li>
      </ul>
      <div class="social-media">
        <a href="https://www.linkedin.com/in/syedshah94/" target="_blank">
          <i class="tags fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/syedshah94" target="_blank">
          <i class="tags fa fa-github fa-3x" aria-hidden="true"></i>
        </a>
        <i class="tags-no fa fa-facebook-official fa-3x" aria-hidden="true"></i>
        <i class="tags-no fa fa-twitter-square fa-3x" aria-hidden="true"></i>
      </div>
    </div>
  </nav>

