<% include ./partials/boilerplate %>

<section class="indexPage">
  <div>
    <section class="intro">
      <div class="inner">
        <div class="content">
          <div>
            <h1>Courtesy Parking</h1>
          </div>
          <div>
            <!-- <a class="startButton" href="/parking">EXPLORE</a> -->
            <a class="startButton" href="/auth/login">LOGIN</a>
            <a class="startButton" href="/auth/register">REGISTER</a>
          </div>
        </div>
        <p>
          PARKING. MADE. EASIER.
        </p>
      </div>
  </section>
  </div>
</section>

<% include ./partials/end %>
