@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
@import url('https://fonts.googleapis.com/css?family=Lobster');

html, body {
  /*Use this to reset browser styling*/
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*--------------------------LANDING PAGE---------------------------*/
.indexPage .intro {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background: url(https://static.pexels.com/photos/92866/pexels-photo-92866.jpeg);
  /*Image obtained from https://www.pexels.com/photo/cars-vehicles-street-parking-2647/*/
  display: table; /*There's some space at top of page, this line removes that space*/
  background-size: cover;
  background-repeat: no-repeat;
}

.indexPage .intro .inner {
  display: table-cell;
  vertical-align: middle; /*Using "display:table cell" and "verticle-align:middle"
  we can vertically center the content of this <div> */

  /*Standard max-*/
  width: 100%;
  max-width: none;
}

.indexPage .content{
  /*Using "max-width: auto" and "margin: 0 auto"
  we can horizontally center the content of this <div> */

  max-width: 600px; /*This prevents the value of the width property from becoming larger than max-width.*/

  margin: 0 auto; /*You can set the margin property to auto to
  horizontally center the element within its container.*/

  text-align: center; /*Stil not quite centered without this line*/

  padding-bottom: 20%; /*To lift text up a bit from bottom of the page*/
}

.indexPage .content h1 {
  /*font-family: "Yantramanav", sans-serif;*/
  font-family: 'Lobster', cursive;
  font-size: 650%;
  font-weight: 100;
  color: #f1f1f1;
  text-shadow: 2px 10px black;

}

.indexPage .startButton {
  font-style: "Montserrat", sans-serif;
  font-size: 150%;
  font-weight: 400;
  color: #f1f1f1;
  text-shadow: 1px 2px black;
  border: #CDBFD6 solid 2px;

  text-decoration: none; /*Remove underline and hyperlink decorations*/
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  transition: .3s;
}

.indexPage .startButton:hover {
  color: #54606E;
  border: #5C6978 solid;
}

.indexPage p{
  font-size: 130%;
  line-height: 120%;
  font-family: "Yantramanav", sans-serif;
  text-align: center;
  color: white;
  font-weight: 200px;
  margin-top: 7%;
}

/*--- Media Queries --*/
@media screen and (max-width: 900px) {
  .indexPage .content {
    padding-bottom: 30%;
  }
  .indexPage .content h1 {
    font-size: 450%;
  }
  .indexPage .startButton {
    font-size: 128%;
    padding: 10px, 18px;
  }
}
@media screen and (max-width: 768px) {
 .indexPage .content {
    padding-bottom: 54%;
  }
 .indexPage .content h1 {
    font-size: 300%;
  }
  .indexPage .startButton {
    font-size: 110%;
    padding: 8px, 16px;
  }
  .indexPage p{
    font-size: 120%;
    line-height: 100%;
  }
}
@media screen and (max-width: 480px) {
 .indexPage .content {
    padding-bottom: 113%;
  }
  .indexPage .content h1 {
    font-size: 250%;
    line-height: 100%;
  }
  .indexPage .startButton {
    font-size: 110%;
    padding: 7px, 15px;
  }
  .indexPage p{
    font-size: 100%;
    line-height: 100%;
  }
}

/*-------------------------- END LANDING PAGE STYLES---------------------------*/

/*-------------------------- PARKING-INDEX STYLES---------------------------*/

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.marker {
  background-image: url('https://www.mapbox.com/help/demos/custom-markers-gl-js/mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.mapboxgl-popup {
  max-width: 200px;
}
.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.mapboxgl-popup {
  max-width: 200px;
}
.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
}
.myjumbotron {
  background-color: white;
}


/*SOCIAL MEDIA HANDLES*/

.fa-facebook-official{
  color: #3B5998;
}
.fa-twitter-square{
  color: #00aced;
}
.fa-linkedin-square{
  color: #0077B5;
}
.fa-github{
  font-weight: bold;
}

.tags:hover {
  color: #f1f1f1;
  cursor:pointer;
}
.tags-no:hover {
  color: gray;
  cursor:pointer;
}

/*-------------------------- PARKING-INDEX STYLES---------------------------*/

/*-------------------------- PARKING-ABOUT STYLES---------------------------*/
.carousel-caption{
  position: relative;
  top: 25%;
}
.display-1 {
  color: #f1f1f1;
  text-shadow: 0px 1px black;
  font-weight: bold;
}
.display-4 {
  color: #f1f1f1;
  text-shadow: 0px 1px black;
  width: 70%;
  position: relative;
  left: 15%;
  font-weight: bold;
}
/*-------------------------- END PARKING-ABOUT STYLES---------------------------*/



