<% include ../partials/parking_boilerplate %>

<h1> hello from parking-add.ejs </h1>

<section class="parking-container">
  <p>Feel free to add whatever. I won't judge</p>

  <form method='POST' action='/parking'>
    <input name='location' type='text' placeholder='Location' />
    <input name='description' type='text' placeholder='Description' />
    <input name='available' type='text' placeholder='Available (True/False)'>
    <input name='departTime' type='text' placeholder='Departure Time'/>
    <input name='latitude' type='text' placeholder='Latitude'/>
    <input name='longitude' type='text' placeholder='Longitude'/>
    <input class='submitBtn' type='submit' value='Submit!' />
  </form>
  <br>
  <button class="back-button">
    <a href="/parking/">Back to parking</a>
  </button>
</section>

<% include ../partials/parking_end %>
